<p id="notice"><%= notice %></p>
<h1>Welcome </h1>
<div>
  <%= @user.name%>
</div>

<div>
  <%=render 'logout'%>
</div>

<div>
  <%=link_to 'Edit User Details', user_edit_path%>
</div>

<div>
  <%=link_to 'search rooms', search_rooms_path%>
</div>

<div>
  <%=link_to 'active rooms', active_rooms_path%>
</div>