<%= form_for(room, :url => search_result_path, :html => { :method => "post" }) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :roomno %>
    <%= f.number_field :roomno %>
  </div>

  <div class="field">
    <%= f.label :building %>
    <%=f.select :building, [['J.Hunt','hunt'],['DHL','dhl']]%>

  </div>

  <div class="field">
    <%= f.label :size %>
    <%=f.select :size, [['2','2'],['4','4'],['6','6']]%>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%=f.select :status, [['Available','available'],['Booked','booked']]%>
  </div>

    <div class="field">
      <%= f.label :date %>
      <%= f.datetime_select(:date,:default=>Time.now,:start_year => Time.now.year,minute_step: 60) %>
    </div>


  <div class="actions">
    <%= f.submit 'search room'%>
  </div>
<% end %>
