<tbody>
<%= form_tag("/", :method => "post") do %>
<table id="rooms">
  <thead>
  <tr>
    <th>Select</th>
    <th>Roomno</th>
    <th>Building</th>
    <th>Size</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |user| %>
      <tr>
        <td><%= radio_button_tag(:selected_room, "selected_room") %></td>
        <td><%= user.roomno %></td>
        <td><%= user.building %></td>
        <td><%= user.size %></td>
        <td><%= user.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= submit_tag("Submit") %>
<% end %>

$('#rooms tr').click(function() {
$(this).find('th input:radio').prop('checked', true);
})