<tbody>
<table>
  <thead>
  <tr>
    <th>Roomno</th>
    <th>Building</th>
    <th>Size</th>
    <th>Status</th>
    <th>Booking Time</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |bookedroom| %>
      <tr>
        <%@temp_room=Room.where("roomno = ?",bookedroom.room_id).take%>

        <td><%= bookedroom.room_id %></td>
        <td><%= @temp_room.building %></td>
        <td><%= @temp_room.size %></td>
        <td>Booked</td>
        <td><%= bookedroom.booking_time.strftime("%d %B %Y %I:%M %p") %></td>
        <td><%= link_to 'Cancel Booking', cancel_booking_path(:id => bookedroom.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'go to home', user_home_path %>