<tbody>
<table>
  <thead>
  <tr>
    <th>Roomno</th>
    <th>Building</th>
    <th>Size</th>
    <th>Status</th>
    <th>Booking Time</th>
  </tr>
  </thead>

  <tbody>c
  <% @rooms.each do |bookedroom| %>
      <tr>
        <%room=Room.where("roomno = ?",bookedroom.room_id)%>
        <td><input type="radio" name="radio"></td>
        <td><%= bookedroom.room_id %></td>
        <td><%= room.building %></td>
        <td><%= room.size %></td>
        <td><%= bookedroom.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
<%= link_to 'go to home', user_home_path %>
  </div>