<p id="notice"><%= notice %></p>

<h1>Bookedrooms</h1>

<table>
  <thead>
    <tr>
      <th>Roomno</th>
      <th>Building</th>
      <th>Size</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookedrooms.each do |bookedroom| %>
      <tr>
        <td><%= bookedroom.roomno %></td>
        <td><%= bookedroom.building %></td>
        <td><%= bookedroom.size %></td>
        <td><%= bookedroom.status %></td>
        <td><%= link_to 'Show', bookedroom %></td>
        <td><%= link_to 'Edit', edit_bookedroom_path(bookedroom) %></td>
        <td><%= link_to 'Destroy', bookedroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookedroom', new_bookedroom_path %>
