<p id="notice"><%= notice %></p>

<p>
  <strong>Roomno:</strong>
  <%= @bookedroom.roomno %>
</p>

<p>
  <strong>Building:</strong>
  <%= @bookedroom.building %>
</p>

<p>
  <strong>Size:</strong>
  <%= @bookedroom.size %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bookedroom.status %>
</p>

<%= link_to 'Edit', edit_bookedroom_path(@bookedroom) %> |
<%= link_to 'Back', bookedrooms_path %>
